[defaults]
# host_key_check diabled to avoid issues connecting to the VMs created *Is a security risk*
host_key_checking = False

# Make user we are using local inventory and not the default one
inventory=./inventory

# Set default user to root
remote_user=root
